*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
}
.b {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    gap: 20px;
    align-items: center;
}
.b a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.top{
    margin-left: 30px;
}

.b .signup{
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 5px;
}
.mid{
    background-color: #edf1fa;
    margin-top: 15px;
}
.home{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
 .mid-grey{
    display:flex;
    color: #656a73;
    font-size: larger;
    text-align: center;

}
.grey{
    color: #656a73;
    font-size: larger;
    
}
.midbottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.search-bar{
    width: 800px;
    background: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 5px 15px #d0daf5(67, 125, 218, 0.15);
    margin-bottom: 20px;
}
.search{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 15px;
    gap: 10px;
}
.search{
    border-right: 1px solid rgb(164, 121, 121);
}

.search input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}
button{
    background: #2f5bea;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    gap: 5px;
}
.img_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}
.browse{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction:column
}


.blue{
    color:#2e5bda;
}
.browse h2{
    font-size: 50px;
}
.job-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
}
.job{
    width:300px;
    height:100px;
    background:white;
    border-radius:22px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    display:flex;
    flex-direction:column;
    
    
}
.roles{
    margin-top:100px;
}
.roles .grey{
    margin-bottom:20px;
}
.role_text{
    display:flex;
    flex-direction:column;
}
.role_text h2{
    font-size:50px;
}
.role-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
}
.role-box{
    width:350px;
    height:200px;
    background:white;
    border-radius:22px;
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    display:flex;
    flex-direction:column;
    
}
.post{
    margin-bottom:15px
}
.rolebox{
    display:flex;
    flex-direction:row;
    list-style-type:none;
    gap:20px;
    margin-bottom:20px;
}
.role-header{
    margin-bottom:15px;;
}
.role-work{
    display:flex;
    margin-bottom:15px;
    font-size:15px;
    color:#94979e;
    justify-content:space-between;
}
.role-amt{
    margin-bottom:15px;
}
.role-roundshape{
    background-color:#d8dfe9;
    border-radius:9999px;
    padding:4px 10px;
    font-size:15px;
    font-weight:500;
}
.post{
    color:#94979e;
    font-size:15px;
}
.role-img{
    display:flex;
    justify-content:center;
    gap:10px;
}

